*

!/layers-example
!/layers-example/**
!/src
!/src/**
!/step-*
!/step-*/**
!/.cljfmt.edn
!/.dockerignore
!/.gitignore
!/deps.edn
!/bb.edn
!/explain-layers-image
!/explain-layers-image/**
!/build-explain-layers.sh
!/explain-layers.sh
!/README.md